body {
    background: #010014;
    max-width: 589px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 1px;
}

.p1 {
    font-size: 16px;
    color: white;
    opacity: 50%;
    margin-top: 2px;
    font-weight: 500;
}

.block {
    display: flex;
    justify-content: space-around;
}

.harvest {
    background: #161325;
    width: 293px;
    border-radius: 12px;
    margin-right: 4px;
}

.borrowed {
    background: #161325;
    width: 293px;
    border-radius: 12px;
    margin-left: 4px;
}

.span {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 800;
}

.span1 {
    font-size: 16px;
}

.main {
    background-color: #272637;
    margin-top: 10px;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
    text-align: left;
    opacity: 50%;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 800;
}

.span2 {
    color: #05D8E8;
    opacity: 100%;
}

.swap {
    font-size: 16px;
    font-weight: 500;
    margin-left:20px;
    display:flex;
}

.dollar{
    margin-right:20px;
}

.dollar2{
    margin-bottom:10px;
}

.foreground{
     background: #000020;
     display:flex;
     justify-content:space-between;
     height:64px;
     max-width:566px;
     margin-left:11px;
     align-items:center;
     border-radius: 12px;
     margin-top:10px;
     position:relative;
     flex-grow:1;
}

img{
    margin-left:2px;
    margin-right: 10px;
}

.right{
    display:flex;
   
}

.background {
    background: #131225;
    width: 566px;
    margin-left: 11px;
    border-radius: 12px;
    margin-top: 10px;
    height:97px;
    display:flex;
    align-items:end;
    justify-content:center;
    position:absolute;
}

.pancake2{
    margin-top:70px;
}

.line {
   display:flex;
}

.pancake3 {
    margin-top: 70px;
    background: #000020;
    max-width:566px;
    /*display:flex;*/
    margin-left:11px;
    margin-right:11px;
    border-radius:12px;
    padding:10px;
}

.swap2 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    padding-top:0px;
}

.supply {
    background: #131225;
    border-radius:12px;
    padding-bottom:30px;
}

.balance{
    display:flex;
    justify-content: space-between;
    padding:10px 20px 0px 20px;
}

.wbnb{
    display:flex;
    margin-left:15px;
}

.first1{
    display:flex;
    justify-content:space-between;
}

.wrapped{
    opacity:50%;
    font-size:12px;
    margin-top:0px;
}

.margin {
    margin-bottom: 0px;
}

.height{
    text-align:left;
}

.img1{
    display:flex;
}

.p{
    margin-bottom:0px;
    font-weight:400;
}

.dollars{
    text-align:right;
    margin-right:20px;
}

.second2{
    display:flex;
    justify-content:space-between;
}

.third3{
    display:flex;
    justify-content:space-between;
}

.fourth4 {
    display: flex;
    justify-content: space-between;
}

.in {
    background: #000020;
    height: 41px;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff7d;
}

.top-procent {
    font-size: 12px;
    color: #05D8E8;
    margin-bottom:0px;
}

.procent {
    font-size: 12px;
    opacity:50%;
    display:flex;
    justify-content:space-between;
    margin:0px 25px 0px 25px; 
}

.showless{
    opacity:50%;
    font-size:12px;
   
}

.padding{
    padding-top:10px;
}

.five5 {
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.six6 {
    display: flex;
    justify-content: space-between;
}