body {
  background: #010014;
  max-width: 589px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: "Jost", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 1px;
}

.p1 {
  font-size: 16px;
  color: white;
  opacity: 50%;
  margin-top: 2px;
  font-weight: 500;
}

.block {
  display: flex;
  justify-content: space-around;
}

.harvest {
  background: #161325;
  width: 293px;
  border-radius: 12px;
  margin-right: 4px;
}

.borrowed {
  background: #161325;
  width: 293px;
  border-radius: 12px;
  margin-left: 4px;
}

.span {
  display: block;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 800;
}

.span1 {
  font-size: 16px;
}

.main {
  background-color: #272637;
  margin-top: 10px;
  border-radius: 12px;
  padding-bottom: 10px;
  padding-bottom: 1px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  justify-content: space-around;
  text-align: left;
  opacity: 50%;
  font-size: 16px;
  padding-top: 15px;
  font-weight: 800;
}

.span2 {
  color: #05d8e8;
  opacity: 100%;
}

.pacoca-container {
  background-color: #000020;
  border-radius: 12px;
  margin: 15px 15px 0px 15px;
}

.pacoca {
  display: flex;
  justify-content: space-between;
}

.common-img {
  display: flex;
  margin: 15px 0px 9px 20px;
}

.apy {
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  opacity: 50%;
}

.auto {
  margin: 0px 0px 0px 0px;
}

.img-container {
  text-align: left;
}

.rab {
  margin-right: 10px;
}

button {
  background-color: #05d8e8;
  border-radius: 12px;
  padding: 12px 30px;
  border: 1px solid #05d8e8;
  margin: 15px 15px 0px 0px;
  font-weight: 500;
  font-size: 16px;
}

.farm-platform {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: #131225;
  border-radius: 12px;
  margin: 5px 15px 0px 15px;
  padding-top: 20px;
}

.group {
  display: flex;
  margin: 0px 0px 15px 20px;
}

.small1 {
  font-size: 12px;
  opacity: 50%;
  margin-right: 40px;
}

.small {
  margin-right: 90px;
  font-size: 12px;
  opacity: 50%;
}

.back {
  background-color: #272637;
  border-radius: 12px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
